package views

templ LoginPage() {
	<!DOCTYPE html>
	<html>
	<body>
		<form method="POST" action="/login">
			<input type="password" name="token" placeholder="Token"/>
			<button type="submit">Login</button>
		</form>
	</body>
	</html>
}
